html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  color: white;
}

html {
  background: #466368;
  background: linear-gradient(to right bottom, #648880, #293f50);
  width: 100%;
}

header {
  text-align: center;
  margin-top: 10%;
}

a {
  color: white;
}

h1 {
  font-size: 30pt;
  font-weight: 100;
}

h1 > .sub {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 14pt;
}

h2 {
  font-size: 20pt;
  font-weight: 200;
}

section#projects, 
section#contact,
section#privacy-policy {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

section#projects ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

section#projects ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

section#contact, section#privacy-policy  {
  margin: 20px auto 80px auto;
  max-width: 600px;
  text-align: center;
}

section p {
  padding: 5px 10px;
}

section#contact ul {
  margin: 20px auto;
  list-style: none;
  padding: 0;
}

section#contact ul li {
  margin: 5px 0;
  padding: 0;
  text-align: center;
}

section#details {
  margin: 20px auto;
  text-align: center;
}

a {
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #FD5290;
}

figure {
  padding: 0;
  margin: 0 10px;
}

figure img.logo {
  border-radius:20%;
  overflow:hidden;
  width: 60px;
  height: 60px;
}

figure img.screenshot {
  margin: 20px 0;
  width: 320px;
  overflow:hidden;
}

figure img.compilation {
  margin: 20px 0;
  width: 80%;
  overflow: hidden;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 0;
  border-top: 1px solid #5f7f84;
  width: 100%;
  margin: 50px 0 0 0;
}

footer p {
  color: #7a9093;
  padding: 10px 20px;
  margin: 0;
  width: 100%;
  font-size: 1em;
}
